{% extends 'main_app/base.html' %}

{% block title %}
  <title>Profil | Urban Stadia</title>
{% endblock title %}

{% block content %}
  <h1>Halaman Profil</h1>
  <hr>
  <table>
    <tr>
      <td>Nama Lengkap:</td>
      <td>{{user.userprofile.nama_lengkap}}</td>
    </tr>
    <tr>
      <td>Nama Panggilan:</td>
      <td>{{user.userprofile.nama_panggilan}}</td>
    </tr>
  </table>
  <br>
  <a class='btn btn-warning'
    {% if user.userprofile.pk %}
      href="{% url 'main-app:profile-update' user.userprofile.pk %}"
    {% else %}
      href="{% url 'main-app:profile-create' %}"
    {% endif %}
  >
    Ubah Profil?
  </a>
{% endblock content %}
