{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
  <title>Login Page | Urban Stadia</title>
{% endblock title %}

{% block content %}


  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background-image: url({% static 'img/sports-logo.png' %});"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Halaman Login</h1>
                  </div>
                  <form class="user" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" name="username" id="id_username" class="form-control form-control-user" placeholder="Nama User">
                      {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="id_password" class="form-control form-control-user" placeholder="Password">
                      {{ form.password.errors }}
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
                    <input type="hidden" name="next" value="{{ next }}">
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'registration' %}">Registrasi Akun Baru</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock content %}
