{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
  <title>Konfirmasi Atur Ulang Password | Sekolah Akademia</title>
{% endblock title %}

{% block content %}

  {% if validlink %}

    <div class="container">

      <!-- Outer Row -->
      <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-password-image" style="background-image: url({% static 'img/key.png' %});"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-2">Masukkan password baru!</h1>
                    </div>
                    <form class="user" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <input type="password" name="new_password1" id="id_new_password1" class="form-control form-control-user" placeholder="Masukkan password baru">
                        {{ form.new_password1.errors }}
                      </div>
                      <div class="form-group">
                        <input type="password" name="new_password2" id="id_new_password2" class="form-control form-control-user" placeholder="Ketik ulang password baru">
                        {{ form.new_password2.errors }}
                      </div>
                      <input type="submit" value="Buat Ulang Password" class="btn btn-success btn-user btn-block">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  {% else %}
    <h1>Pengaturan ulang Password gagal</h1>
    <p>Link password tidak valid atau telah digunakan. Silakan mengatur ulang password kembali.</p>
  {% endif %}

{% endblock content %}
