{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
  <title>Atur Ulang Password Berhasil | Sekolah Akademia</title>
{% endblock title %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1 align=center>Password telah berhasil diatur ulang</h1>
    <p align=center>Kami telah kirimkan email untuk memandumu mengatur password baru.<br>Cek email (atau folder spam) dalam beberapa menit kedepan!</p>
    <p align=center><a href="{% url 'home-app:index' %}">Kembali ke halaman utama?</a></p>
  </div>
</div>

{% endblock content %}
